@using Microsoft.Data.SqlClient
@using GroundManagmentSystem.Objects;
@model IEnumerable<ISA_Model>
@using System.Linq;
@using System.Data;
@using System.Collections
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";

}
@{
    DateTime Czas_teraz = DateTime.Now;
    
    
}



<div id="fifo_main" class="" >
<table class="table">
    
    <thead>
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------------------FIFO-SUMA------------------------------------------------------------------------------------------------------------------------------->
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div id="fifo_main_name_bar"  class="border border border-secondary rounded" style="width:1755px; height:35px; margin-bottom:2px; text-align:center; font-size:25px; color:white;background-color:gray; font-weight:600; margin-top:10px;"> 
            
            
            FIFO</div>
          
        <div id="suma_main" class="border border border-secondary rounded-end" style="width:1755px; height:75px; margin-bottom:2px; text-align:center;background-color:white; font-weight:600;"> <!--FIFO SUMA -->
        <div id="fifo_suma_nazwy" class="rounded border-0" data-bs-toggle="tooltip" data-bs-placement="top" title="ISA SUMA" style=" float:left;width:1785px;height:35px; margin-right:4px;margin-bottom:2px;">
       <!-- <div id="fill_div" class="rounded border-0" style=" float:left;width:10px;height:35px; margin-right:4px;"></div>-->
        <div class="btn-group" style="float:left;height:32px; width:210px;margin-right:2px;margin-left:2px; margin-top:1px;"> 
              <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  MENU
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" fill="currentColor" class="bi bi-menu-button" viewBox="0 0 16 16">
                  <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z"/>
                  <path d="m7.823 2.823-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>
              </button>
              <ul class="dropdown-menu" style="height:77px;width:100px;">
                  <a asp-action="Create" class="btn btn-primary"  style="width:150px; height:33px;">DODAJ ISA
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a> 
              
                
              </ul>
            </div>
         <button id="fifo_nazwa_isa_ilosc" type="button" class="border border border-secondary rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Łączna ilość [szt]">
            Ilość          
        </button>
        <button id="fifo_nazwa_isa_fba" type="button" class="rounded-start border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Łączna ilość  kontenerów:standard/morski/naczepa [szt.]">
           <p_fba>FBA</p_fba> 
            <p_fba_1>ILOŚĆ</p_fba_1>  
        </button>        
        <button id="fifo_nazwa_isa_naczepa" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontener typu naczepa">
             <p_fba_st >FBA</p_fba_st>
             <p_fba_st_1 >ST</p_fba_st_1> 
        </button>
        <button id="fifo_nazwa_isa_morski" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontener morski">
            <p_fba_sc >FBA </p_fba_sc>
             <p_fba_sc_1 >SC</p_fba_sc_1> 
                    
        </button>
        <button id="fifo_nazwa_isa_standard" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontener standardowy">
            <p_fba_s >FBA</p_fba_s>
            <p_fba_s_1 ">S</p_fba_s_1> 
                    
        </button>
         <button id="fifo_nazwa_isa_lp" type="button" class="rounded-start border border border-secondary " data-bs-placement="top" title="LP">
            <p_lp >@Html.DisplayNameFor(model => model.ISA_lp)</p_lp>       
        </button>
        <button id="fifo_nazwa_isa_lp_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="LP">
            <p_lp_v>LP</p_lp_v>
            <p_lp_v_1 >ILOŚĆ</p_lp_v_1>  
        </button>       
        <button id="fifo_nazwa_isa_parcel" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Parcel">
            <p_parcel>PAR</p_parcel>                 
        </button>
         <button id="fifo_nazwa_isa_parcel_value" type="button" class="rounded-end border border border-secondary " data-bs-placement="top" title="LP">
            <p_parcel_v >PAR</p_parcel_v>
            <p_parcel_v_1 >ILOŚĆ</p_parcel_v_1> 
        </button>
        <button id="fifo_nazwa_isa_mono" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Mono">
            <p_mono ">MON </p_mono>                 
        </button>
        <button id="fifo_nazwa_isa_mono_value" type="button" class="border border border-secondary" data-bs-placement="top" title="LP">
            <p_mono_v >MON</p_mono_v>
            <p_mono_v_1 >ILOŚĆ</p_mono_v_1> 
        </button>
        <button id="fifo_nazwa_isa_pax" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="PAX">
            <p_pax >PAX</p_pax>                  
        </button>
        <button id="fifo_nazwa_isa_pax_value" type="button" class="rounded-end border border border-secondary " data-bs-placement="top" title="LP">
            <p_pax_v >PAX</p_pax_v>
            <p_pax_v_1 >ILOŚĆ</p_pax_v_1> 
        </button>
        <button id="fifo_nazwa_isa_ra" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_ra>RA </p_ra>      
        </button>
         <button id="fifo_nazwa_isa_ra_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_ra_v>RA</p_ra_v> 
            <P_ra_v_1>ILOŚĆ</P_ra_v_1>
        </button>
        <button id="fifo_nazwa_isa_rb" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive boots">
            <p_rb>RB </p_rb>       
        </button>
         <button id="fifo_nazwa_isa_rb_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_rb_v>RB</p_rb_v> 
            <P_rb_v_1>ILOŚĆ</P_rb_v_1> 
        </button>
        <button id="fifo_nazwa_isa_rh" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive hardline">
            <p_rh >RH</p_rh>      
        </button>
         <button id="fifo_nazwa_isa_rh_value" type="button" class="rounded-end border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_rh_v>RH</p_rh_v> 
            <P_rh_v_1>ILOŚĆ</P_rh_v_1>
        </button>
        <button id="fifo_nazwa_isa_rap" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rap>RAP </p_rap>    
        </button>
        <button id="fifo_nazwa_isa_rap_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rap_v>RAP </p_rap_v>
            <p_rap_v_1>ILOŚĆ </p_rap_v_1>    
        </button>
        <button id="fifo_nazwa_isa_rbp" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive boots prep.">
            <p_rbp>RBP </p_rbp> 
        </button>
        <button id="fifo_nazwa_isa_rbp_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rbp_V>RBP </p_rbp_V> 
            <p_rbp_v_1>ILOŚĆ </p_rbp_v_1>    
        </button>
        <button id="fifo_nazwa_isa_rhp" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive hardline prep.">
            <p_rhp>RHP </p_rhp> 
        </button>
        <button id="fifo_nazwa_isa_rhp_value" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rhp_v>RHP </p_rhp_v> 
            <p_rhp_v_1>ILOŚĆ </p_rhp_v_1>    
        </button>
       
        <button id="fifo_nazwa_isa_ac" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_ac> AC</p_ac>     
        </button>
        <button id="fifo_nazwa_isa_ac_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_ac_v>AC </p_ac_v>   
            <p_ac_v_1>ILOŚĆ </p_ac_v_1>   
        </button>
        <button id="fifo_nazwa_isa_bc" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Boots case">
            <p_bc>BC</p_bc>    
        </button>
        <button id="fifo_nazwa_isa_bc_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_bc_v> BC</p_bc_v> 
            <p_bc_v_1>ILOŚĆ </p_bc_v_1>   
        </button>
        <button id="fifo_nazwa_isa_hc" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Hardline case">
            <p_hc>HC </p_hc>             
        </button>
        <button id="fifo_nazwa_isa_hc_value" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_hc_v>HC </p_hc_v>   
            <p_hc_v_1> ILOŚĆ</p_hc_v_1>   
        </button>  
        <div id="fifo_tabela_alert" class="border order border-secondary rounded" style="width:225px;height:34px; float:left; margin-top:1px;">
            <svg id="alert_fifo" xmlns="http://www.w3.org/2000/svg" width="32" height="32"  class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16" style="position:relative; left:-40px;">
              <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
         
        </div>
        </div>

        



        <div id="fifo_suma_podsumowanie_main" class="" style=" float:left;width:1785px;height:35px; margin-right:4px;">
            <div id="fill_div" class="rounded border-0" style=" float:left;width:210px;height:35px; margin-right:4px;"></div>
                    @{
                        int zero_int = 0;
                        string ConnectionString = "Server=tcp:groundmanagmentsystemsql.database.windows.net,1433;Initial Catalog=gms_sql;Persist Security Info=False;User ID=sovellis166;Password=Szymcio1^^;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;";
                        string sqlQuery = $"SELECT COUNT(ISA_units) FROM [gms_sql].[dbo].[ISA_Models]";
                        SqlConnection con = new SqlConnection(ConnectionString);
                        SqlCommand sc = new SqlCommand(sqlQuery, con);
                        con.Open();
                        int table_count = (int)sc.ExecuteScalar();                     
                        con.Close();
                        ArrayList valuesList = new ArrayList();

                    
                    if (table_count>=1)
                    {
                    SqlConnection connection = new SqlConnection("Server=tcp:groundmanagmentsystemsql.database.windows.net,1433;Initial Catalog=gms_sql;Persist Security Info=False;User ID=sovellis166;Password=Szymcio1^^;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;");
                    connection.Open();
                    SqlCommand command = new SqlCommand("SELECT SUM([ISA_units]),SUM([ISA_fba]),SUM([ISA_semitrailer]),SUM([ISA_fba_sea_container]),SUM([ISA_fba_standard]),SUM([ISA_lp]),SUM([ISA_lp_value]),SUM([ISA_parcel]),SUM([ISA_parcel_value]),SUM([ISA_mono]),SUM([ISA_mono_value]),SUM([ISA_pax]),SUM([ISA_pax_value]),SUM([ISA_ra]),SUM([ISA_ra_value]),SUM([ISA_rb]),SUM([ISA_rb_value]),SUM([ISA_rh]),SUM([ISA_rh_value]),SUM([ISA_rap]),SUM([ISA_rap_value]),SUM([ISA_rbp]),SUM([ISA_rbp_value]),SUM([ISA_rhp]),SUM([ISA_rhp_value]),SUM([ISA_ac]),SUM([ISA_ac_value]),SUM([ISA_bc]),SUM([ISA_bc_value]),SUM([ISA_hc]),SUM([ISA_hc_value]) FROM [gms_sql].[dbo].[ISA_Models]", connection);
                    SqlDataReader dataReader = command.ExecuteReader();
                    while (dataReader.Read())
                    {
                    valuesList.Add(Convert.ToInt32(dataReader[0]));//  Unity łącznie                    
                    valuesList.Add(Convert.ToInt32(dataReader[1]));// Suma FBA
                    valuesList.Add(Convert.ToInt32(dataReader[2]));// Suma naczep
                    valuesList.Add(Convert.ToInt32(dataReader[3]));// Suma morski
                    valuesList.Add(Convert.ToInt32(dataReader[4]));// Suma FBA standard
                    valuesList.Add(Convert.ToInt32(dataReader[5]));// Suma LP
                    valuesList.Add(Convert.ToInt32(dataReader[6]));// Suma LP Ilość
                    valuesList.Add(Convert.ToInt32(dataReader[7]));// Suma Parcel
                    valuesList.Add(Convert.ToInt32(dataReader[8]));// Suma Parcel Ilość
                    valuesList.Add(Convert.ToInt32(dataReader[9]));// Suma mono
                    valuesList.Add(Convert.ToInt32(dataReader[10]));// Suma mono Ilość
                    valuesList.Add(Convert.ToInt32(dataReader[11]));// Suma pax
                    valuesList.Add(Convert.ToInt32(dataReader[12]));// Suma pax Ilość
                    valuesList.Add(Convert.ToInt32(dataReader[13]));// Suma ra
                    valuesList.Add(Convert.ToInt32(dataReader[14]));// Suma ra Ilość
                    valuesList.Add(Convert.ToInt32(dataReader[15]));// Suma rb
                    valuesList.Add(Convert.ToInt32(dataReader[16]));// Suma rb Ilość
                    valuesList.Add(Convert.ToInt32(dataReader[17]));// Suma rh
                    valuesList.Add(Convert.ToInt32(dataReader[18]));// Suma rh Ilość
                    valuesList.Add(Convert.ToInt32(dataReader[19]));// Suma rap
                    valuesList.Add(Convert.ToInt32(dataReader[20]));// suma rap ilość
                    valuesList.Add(Convert.ToInt32(dataReader[21]));// suma rbp
                    valuesList.Add(Convert.ToInt32(dataReader[22]));// suma rbp ilość
                    valuesList.Add(Convert.ToInt32(dataReader[23]));// suma rhp
                    valuesList.Add(Convert.ToInt32(dataReader[24]));// suma rhp ilość
                    valuesList.Add(Convert.ToInt32(dataReader[25]));// suma ac
                    valuesList.Add(Convert.ToInt32(dataReader[26]));// suma ac ilość
                    valuesList.Add(Convert.ToInt32(dataReader[27]));// suma bc
                    valuesList.Add(Convert.ToInt32(dataReader[28]));// suma bc ilosc
                    valuesList.Add(Convert.ToInt32(dataReader[29]));// suma hc
                    valuesList.Add(Convert.ToInt32(dataReader[30]));// suma hc ilosc

                    }
                    connection.Close();
                    }
                }
         
                    <div id="fifo_tabela_isa_ilosc" class="border-end-0 border border-secondary ">
                       @if (table_count >= 1)
                       {
                              int all_values_sum = (int) valuesList[0] +(int) valuesList[6]+(int) valuesList[8]+(int) valuesList[10]+(int) valuesList[12]+(int) valuesList[14]+(int) valuesList[16]+(int) valuesList[18]+(int) valuesList[20]+(int) valuesList[22]+(int) valuesList[24]+(int) valuesList[26]+(int) valuesList[28]+(int) valuesList[30];
                              @all_values_sum                                                  
                       }
                       else
                       {
                        @zero_int
                       }                                                      
                    </div>                                            
                    <div id="fifo_tabela_isa_fba" class="border-end-0 border border-secondary ">
                      @if (table_count >= 1){                           
                            @valuesList[1]
                        }
                       else{
                       @zero_int
                       }                         
                           
                    </div>
                    <div id="fifo_tabela_isa_naczepa" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[2]                        
                        }
                       else
                       {
                        @zero_int
                       }                  
                    </div>   
                    <div id="fifo_tabela_isa_morski" class="border-end-0 border border-secondary ">
                       @if (table_count >= 1)
                        {
                         @valuesList[3]                        
                        }
                       else
                       {
                        @zero_int
                       }
                    </div>
                    <div id="fifo_tabela_isa_standard" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[4]                        
                        }
                       else
                       {
                        @zero_int
                       }                      
                    </div>                                       
                     <div id="fifo_tabela_isa_lp" class="border-end-0 border border-secondary">
                         @if (table_count >= 1)
                        {
                         @valuesList[5]                        
                        }
                       else
                       {
                        @zero_int
                       }
                         
                    </div>
                    <div id="fifo_tabela_isa_lp_value" class="border-end-0 border border-secondary">
                        @if (table_count >= 1)
                        {
                         @valuesList[6]                        
                        }
                       else
                       {
                        @zero_int
                       }                       
                    </div>                                    
                    <div id="fifo_tabela_isa_parcel" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[7]                        
                        }
                       else
                       {
                        @zero_int
                       }              
                      
                    </div>
                    <div id="fifo_tabela_isa_parcel_value" class="border-end-0 border border-secondary ">
                      @if (table_count >= 1)
                        {
                         @valuesList[8]                        
                        }
                       else
                       {
                        @zero_int
                       }             
                      
                    </div>                                 
                   <div id="fifo_tabela_isa_mono" class="border-end-0 border border-secondary ">
                      @if (table_count >= 1)
                        {
                         @valuesList[9]                        
                        }
                       else
                       {
                        @zero_int
                       }               
                    </div>
                    <div id="fifo_tabela_isa_mono_value" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[10]                        
                        }
                       else
                       {
                        @zero_int
                       }                                   
                    </div>
                    <div id="fifo_tabela_isa_pax" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[11]                        
                        }
                       else
                       {
                        @zero_int
                       }                                    
                    </div>
                    <div id="fifo_tabela_isa_pax_value" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[12]                        
                        }
                       else
                       {
                        @zero_int
                       }                                    
                    </div>                   
                    <div id="fifo_tabela_isa_ra" class="border-end-0 border border-secondary ">
                      @if (table_count >= 1)
                        {
                         @valuesList[13]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </div> 
                    <div id="fifo_tabela_isa_ra_value" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[14]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </div> 
                     <div id="fifo_tabela_isa_rb" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[15]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </div>
                    <div id="fifo_tabela_isa_rb_value" class="border-end-0 border border-secondary ">
                       @if (table_count >= 1)
                        {
                         @valuesList[16]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </div> 
                    <div id="fifo_tabela_isa_rh" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[17]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </div>
                    <div id="fifo_tabela_isa_rh_value" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[18]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </div>        
                    <div id="fifo_tabela_isa_rap" class="border-end-0 border border-secondary">
                        @if (table_count >= 1)
                        {
                         @valuesList[19]                        
                        }
                       else
                       {
                        @zero_int
                       }                                 
                    </div>
                    <div id="fifo_tabela_isa_rap_value" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[20]                        
                        }
                       else
                       {
                        @zero_int
                       }                               
                    </div>  
                   <div id="fifo_tabela_isa_rbp" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[21]                        
                        }
                       else
                       {
                        @zero_int
                       }                                  
                    </div> 
                    <div id="fifo_tabela_isa_rbp_value" class="border-end-0 border border-secondary ">
                         @if (table_count >= 1)
                        {
                         @valuesList[22]                        
                        }
                       else
                       {
                        @zero_int
                       }                                 
                    </div>  
                    <div id="fifo_tabela_isa_rhp" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[23]                        
                        }
                       else
                       {
                        @zero_int
                       }                                   
                    </div> 
                    <div id="fifo_tabela_isa_rhp_value" class="border-end-0 border border-secondary">
                        @if (table_count >= 1)
                        {
                         @valuesList[24]                        
                        }
                       else
                       {
                        @zero_int
                       }                                  
                    </div>                   
                    <div id="fifo_tabela_isa_ac" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[25]                        
                        }
                       else
                       {
                        @zero_int
                       }                                 
                    </div> <div id="fifo_tabela_isa_ac_value" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[26]                        
                        }
                       else
                       {
                        @zero_int
                       }                                
                    </div>
                    <div id="fifo_tabela_isa_bc" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[27]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                        
                    </div>
                    <div id="fifo_tabela_isa_bc_value" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[28]                        
                        }
                       else
                       {
                        @zero_int
                       }                            
                   </div>
                    <div id="fifo_tabela_isa_hc" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[29]                        
                        }
                       else
                       {
                        @zero_int
                       }                                 
                    </div>
                    <div id="fifo_tabela_isa_hc_value" class="border-end-0 border border-secondary ">
                        @if (table_count >= 1)
                        {
                         @valuesList[30]                        
                        }
                       else
                       {
                        @zero_int
                       }                              
                    </div>
                    <div id="fifo_tabela_last_update" class="border order border-secondary rounded" style="background-color:gray;width:225px;height:34px; float:left; margin-top:1px;">
                        <p_last_update style="font-weight:900;font-size:13px;position:relative;top:-6px; color:white;">OSTATNIA AKTUALIZACJA</p_last_update><br />
                          
                        @if (table_count >= 1)
                        {
                          SqlConnection con_update = new SqlConnection(ConnectionString);
                        string update_question = $"SELECT [ISA_last_update] FROM [gms_sql].[dbo].[ISA_Models] ORDER BY ISA_last_update DESC";

                         SqlCommand  update_answer = new SqlCommand(update_question, con_update);
                            con_update.Open();
                            DateTime last_update = (DateTime)update_answer.ExecuteScalar();      
                          <p_last_update style="font-weight:700;font-size:13px;position:relative;top:-14px; color:white;">@last_update</p_last_update>  
                        }
                       else
                       {
                        
                       }         
                    </div>                              
            </div>
         </div>
        </div>
         <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
         <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
         <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div id="fifo_main_name_space_bar" class="border border border-secondary rounded" style="width:1755px; height:2px; margin-bottom:10px;margin-top:10px;"></div>
       <div id="fifo_main_nazwy" class="border-1 rounded sticky-top" >

      
        <button id="fifo_nazwa_isa_numer" type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="ISA numer">
           @Html.DisplayNameFor(model => model.ISA_number)     
        </button>
        
        <button id="fifo_nazwa_isa_data" type="button" class="border border border-secondary rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Data">
            @Html.DisplayNameFor(model => model.ISA_date_time)     
        </button>
        <button id="fifo_nazwa_isa_line" type="button" class="border border border-secondary rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Data">
            @Html.DisplayNameFor(model => model.ISA_line)     
        </button>         
        
         <button id="fifo_nazwa_isa_ilosc" type="button" class="border border border-secondary rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Jest to łączna ilość wszystkich [szt], które są przypisane do danego numeru ISA. Składowe na łączną ilość to Ilość,Parcel-ilośc,Lp-Ilość,PAX-Ilość,Mono-Ilość,Ra/Rb/Rh-Ilość, Rap/Rbp/Rhp-Ilość oraz Ac/Bc/Hc-Ilość">
            @Html.DisplayNameFor(model => model.ISA_units)         
        </button>

        
        <!--FBA-START-->
        <button id="fifo_nazwa_isa_fba" type="button" class="rounded-start border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Uzupełnij to">
           <p_fba>FBA</p_fba> 
           <p_fba_1>ILOŚĆ</p_fba_1>  
        </button>                  
        <button id="fifo_nazwa_isa_naczepa" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontener typu naczepa">
             <p_fba_st >FBA</p_fba_st>
             <p_fba_st_1 >ST</p_fba_st_1> 
        </button>
        <button id="fifo_nazwa_isa_morski" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontener morski">
            <p_fba_sc >FBA </p_fba_sc>
             <p_fba_sc_1 >SC</p_fba_sc_1> 
                    
        </button>
        <button id="fifo_nazwa_isa_standard" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontener standardowy">
            <p_fba_s >FBA</p_fba_s>
            <p_fba_s_1 ">S</p_fba_s_1> 
                    
        </button>
        
        <!--FBA-KONIEC-->

        <!--LP/PARCEL-START-->
        
        <button id="fifo_nazwa_isa_lp" type="button" class="rounded-start border border border-secondary " data-bs-placement="top" title="LP">
            <p_lp >@Html.DisplayNameFor(model => model.ISA_lp)</p_lp>       
        </button>
        <button id="fifo_nazwa_isa_lp_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="LP">
            <p_lp_v>LP</p_lp_v>
            <p_lp_v_1 >ILOŚĆ</p_lp_v_1>  
        </button>       
        <button id="fifo_nazwa_isa_parcel" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Parcel">
            <p_parcel>PAR</p_parcel>                 
        </button>
         <button id="fifo_nazwa_isa_parcel_value" type="button" class="rounded-end border border border-secondary " data-bs-placement="top" title="LP">
            <p_parcel_v >PAR</p_parcel_v>
            <p_parcel_v_1 >ILOŚĆ</p_parcel_v_1> 
        </button>
         <!--LP/PARCEL-KONIEC-->

         <!--PAX/MONO-START-->
        <button id="fifo_nazwa_isa_mono" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Mono">
            <p_mono ">MON </p_mono>                 
        </button>
        <button id="fifo_nazwa_isa_mono_value" type="button" class="border border border-secondary" data-bs-placement="top" title="LP">
            <p_mono_v >MON</p_mono_v>
            <p_mono_v_1 >ILOŚĆ</p_mono_v_1> 
        </button>
        <button id="fifo_nazwa_isa_pax" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="PAX">
            <p_pax >PAX</p_pax>                  
        </button>
        <button id="fifo_nazwa_isa_pax_value" type="button" class="rounded-end border border border-secondary " data-bs-placement="top" title="LP">
            <p_pax_v >PAX</p_pax_v>
            <p_pax_v_1 >ILOŚĆ</p_pax_v_1> 
        </button>
        <!--PAX/MONO-KONIEC-->
        <!--RA/RB/RH-START-->
        <button id="fifo_nazwa_isa_ra" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_ra>RA </p_ra>      
        </button>
         <button id="fifo_nazwa_isa_ra_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_ra_v>RA</p_ra_v> 
            <P_ra_v_1>ILOŚĆ</P_ra_v_1>
        </button>
        <button id="fifo_nazwa_isa_rb" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive boots">
            <p_rb>RB </p_rb>       
        </button>
         <button id="fifo_nazwa_isa_rb_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_rb_v>RB</p_rb_v> 
            <P_rb_v_1>ILOŚĆ</P_rb_v_1> 
        </button>
        <button id="fifo_nazwa_isa_rh" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive hardline">
            <p_rh >RH</p_rh>      
        </button>
         <button id="fifo_nazwa_isa_rh_value" type="button" class="rounded-end border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_rh_v>RH</p_rh_v> 
            <P_rh_v_1>ILOŚĆ</P_rh_v_1>
        </button>
        <!--RA/RB/RH-KONIEC-->

        <!--RAp/RBp/RHp-START-->
        <button id="fifo_nazwa_isa_rap" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rap>RAP </p_rap>    
        </button>
        <button id="fifo_nazwa_isa_rap_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rap_v>RAP </p_rap_v>
            <p_rap_v_1>ILOŚĆ </p_rap_v_1>    
        </button>
        <button id="fifo_nazwa_isa_rbp" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive boots prep.">
            <p_rbp>RBP </p_rbp> 
        </button>
        <button id="fifo_nazwa_isa_rbp_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rbp_V>RBP </p_rbp_V> 
            <p_rbp_v_1>ILOŚĆ </p_rbp_v_1>    
        </button>
        <button id="fifo_nazwa_isa_rhp" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive hardline prep.">
            <p_rhp>RHP </p_rhp> 
        </button>
        <button id="fifo_nazwa_isa_rhp_value" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rhp_v>RHP </p_rhp_v> 
            <p_rhp_v_1>ILOŚĆ </p_rhp_v_1>    
        </button>
        





        <!--AC/RBp/BC/HC-START-->
        <button id="fifo_nazwa_isa_ac" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_ac> AC</p_ac>     
        </button>
        <button id="fifo_nazwa_isa_ac_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_ac_v>AC </p_ac_v>   
            <p_ac_v_1>ILOŚĆ </p_ac_v_1>   
        </button>
        <button id="fifo_nazwa_isa_bc" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Boots case">
            <p_bc>BC</p_bc>    
        </button>
        <button id="fifo_nazwa_isa_bc_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_bc_v> BC</p_bc_v> 
            <p_bc_v_1>ILOŚĆ </p_bc_v_1>   
        </button>
        <button id="fifo_nazwa_isa_hc" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Hardline case">
            <p_hc>HC </p_hc>             
        </button>
        <button id="fifo_nazwa_isa_hc_value" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_hc_v>HC </p_hc_v>   
            <p_hc_v_1> ILOŚĆ</p_hc_v_1>   
        </button>
       
        
        <button id="fifo_nazwa_isa_komentarz" type="button" class="border border border-secondary rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Komentarz">
            <p_comment style="color: black;font-size: 12px;font-weight: bolder;position:relative;left:0px; bottom:1px;">@Html.DisplayNameFor(model => model.ISA_comment)</p_comment>               
        </button> 
        <div id="fifo_nazwa_isa_opcje" class="border border border-secondary rounded">
          <p_opcje style="color: black;font-size: 12px;font-weight: 700;position:relative;left:2px; bottom:-8px;">OPCJE</p_opcje>
        </div>      
      </div>
      
    <tbody>
  
@foreach (var item in Model.OrderBy(i=> i.ISA_date_time)) 
{
        
        <tr>
          

                    <div id="fifo_tabela_isa_numer" class="border-end-0 border border-secondary rounded-start">
                            @Html.DisplayFor(modelItem => item.ISA_number)
                    @{
                        bool to_check = item.ISA_to_chceck;
                        if (to_check == true)
                        {
                            <script type="text/javascript">document.getElementById("fifo_tabela_isa_numer").style.backgroundColor = "lightgray";</script>
                             <script type="text/javascript">document.getElementById("fifo_tabela_isa_data").style.backgroundColor = "lightgray";</script>
                             <script type="text/javascript">document.getElementById("fifo_tabela_isa_line").style.backgroundColor = "lightgray";</script>
                             
                        }
                    }
                    </div>
                    
                    <div id="fifo_tabela_isa_data" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_date_time)
                        
                    
                    </div> 
                    <div id="fifo_tabela_isa_line" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_line)
                    </div> 
                    
                    <div id="fifo_tabela_isa_ilosc" class="border-end-0 border border-secondary ">
                            @{                             
                               int value_lacznie = (item.ISA_units) + (item.ISA_lp_value)+(item.ISA_parcel_value)+(item.ISA_mono_value)+(item.ISA_pax_value)+(item.ISA_ra_value)+(item.ISA_rb_value)+(item.ISA_rh_value)+(item.ISA_rap_value)+(item.ISA_rbp_value)+(item.ISA_rhp_value)+(item.ISA_ac_value)+(item.ISA_bc_value)+(item.ISA_hc_value);    
                               
                            }
                       
                            @value_lacznie
                        
                    </div>                    
                    <div id="fifo_tabela_isa_fba" class="border-end-0 border border-secondary ">                           
                             @item.ISA_fba
                    </div>
                    <div id="fifo_tabela_isa_naczepa" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_semitrailer)
                    </div>   
                    <div id="fifo_tabela_isa_morski" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_fba_sea_container)
                    </div>
                    <div id="fifo_tabela_isa_standard" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_fba_standard)
                    </div>                                         
                     <div id="fifo_tabela_isa_lp" class="border-end-0 border border-secondary">
                         @Html.DisplayFor(modelItem => item.ISA_lp) 
                    </div>
                    <div id="fifo_tabela_isa_lp_value" class="border-end-0 border border-secondary">
                         @Html.DisplayFor(modelItem => item.ISA_lp_value) 
                    </div>                                    
                    <div id="fifo_tabela_isa_parcel" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_parcel)
                    </div>
                    <div id="fifo_tabela_isa_parcel_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_parcel_value)
                    </div>                                      
                   <div id="fifo_tabela_isa_mono" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_mono)
                    </div>
                    <div id="fifo_tabela_isa_mono_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_mono_value)
                    </div>
                    <div id="fifo_tabela_isa_pax" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_pax)
                    </div>
                    <div id="fifo_tabela_isa_pax_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_pax_value)
                    </div>                   
                    <div id="fifo_tabela_isa_ra" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_ra)
                    </div> 
                    <div id="fifo_tabela_isa_ra_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_ra_value)
                    </div> 
                     <div id="fifo_tabela_isa_rb" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_rb)
                    </div>
                    <div id="fifo_tabela_isa_rb_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_rb_value)
                    </div> 
                    <div id="fifo_tabela_isa_rh" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_rh)
                    </div>
                    <div id="fifo_tabela_isa_rh_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_rh_value)
                    </div> 
                    
                    <div id="fifo_tabela_isa_rap" class="border-end-0 border border-secondary">
                        @Html.DisplayFor(modelItem => item.ISA_rap)
                    </div>
                    <div id="fifo_tabela_isa_rap_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_rap_value)
                    </div>  
                   <div id="fifo_tabela_isa_rbp" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_rbp)
                    </div> 
                    <div id="fifo_tabela_isa_rbp_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_rbp_value)
                    </div>  
                    <div id="fifo_tabela_isa_rhp" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_rhp)
                    </div> 
                    <div id="fifo_tabela_isa_rhp_value" class="border-end-0 border border-secondary">
                        @Html.DisplayFor(modelItem => item.ISA_rhp_value)
                    </div>  
                  
                    <div id="fifo_tabela_isa_ac" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_ac)
                    </div> <div id="fifo_tabela_isa_ac_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_ac_value)
                    </div>
                    <div id="fifo_tabela_isa_bc" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_bc)
                    </div>
                    <div id="fifo_tabela_isa_bc_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_bc_value)
                    </div>
                    <div id="fifo_tabela_isa_hc" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_hc)
                    </div>
                    <div id="fifo_tabela_isa_hc_value" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_hc_value)
                    </div>                   
                    <div id="fifo_tabela_isa_komentarz" class="border-end-0 border border-secondary ">
                        @Html.DisplayFor(modelItem => item.ISA_comment)
                    </div>
                    <div class="btn-group dropend" style="color:red;">
                      <button id="fifo_tabela_opcje" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
                          
                                                            <p_opcje></p_opcje>
                      </button>
                      <ul class="dropdown-menu border-end-0 border border-secondary" style="width:225px;height:35px; background-color:#ff9933;">
                          <a asp-action="Edit" class="btn btn-primary"  asp-route-id="@item.ISA_id" style="position:relative; bottom:8px;height:34px; " ><p1 style="font-size:11px;">Edytuj</p1>
                            
                            </a>                          
                    
                        <a asp-action="Delete" asp-route-id="@item.ISA_id" class="btn btn-danger"style="position:relative; bottom:8px;left:-3px; height:34px;"><p1 style="font-size:11px;">Usuń</p1>
                           
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ISA_id" class="btn btn-info"style="position:relative; bottom:8px;left:-3px; height:34px; height:34px;"><p1 style="font-size:11px;">Szczegóły</p1>
                          
                        </a>     
                       
          
</tr>        
} 
    </tbody>
</table>
<br>

    
