@using Microsoft.Data.SqlClient
@model IEnumerable<ISA_Model>
@using System.Linq;
@using System.Data;
@using System.Collections
@using MySqlConnector
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Index";

}




<div id="fifo_main" class="" >
    <div id="total_1"></div>
<table class="table">
    
    <thead>
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <!-------------------------------------------------------------------------------------------FIFO-SUMA------------------------------------------------------------------------------------------------------------------------------->
        <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div id="fifo_main_name_bar"  class="border border border-secondary rounded" style="width:1645px; height:35px; margin-bottom:2px; text-align:center; font-size:25px; color:white;background-color:gray; font-weight:600; margin-top:10px;"> 
            
            
            FIFO
            </div>
          
        <div id="suma_main" class="border border border-secondary rounded-end" style="width:1645px; height:75px; margin-bottom:2px; text-align:center;background-color:white; font-weight:600;"> <!--FIFO SUMA -->
        <div id="fifo_suma_nazwy" class="rounded border-0" data-bs-toggle="tooltip" data-bs-placement="top" title="ISA SUMA" style=" float:left;width:1785px;height:35px; margin-right:4px;margin-bottom:2px;">
       
        
         <button  id="total_value" class="fifo_nazwa_isa_ilosc_total border border border-secondary rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Łączna ilość [szt]">
           <ilosc_tot style="font-weight:900;font-size:20px;"> Ilość Total   </ilosc_tot> 
        </button>
        <button id="fifo_nazwa_isa_fba" type="button" class="rounded-start border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Łączna ilość [szt.] z FBA">
           <p_fba>FBA</p_fba> 
            <p_fba_1>ILOŚĆ</p_fba_1>  
        </button>        
        <button id="fifo_nazwa_isa_standard" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontener standardowy">
        <p_fba_s >FBA</p_fba_s>       
        </button>
         <button id="fifo_nazwa_isa_lp" type="button" class="rounded-start border border border-secondary " data-bs-placement="top" title="LP">
            <p_lp >LP</p_lp>       
        </button>
        <button id="fifo_nazwa_isa_lp_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="LP">
            <p_lp_v>LP</p_lp_v>
            <p_lp_v_1 >ILOŚĆ</p_lp_v_1>  
        </button>       
        <button id="fifo_nazwa_isa_parcel" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Parcel">
            <p_parcel>PAR</p_parcel>                 
        </button>
         <button id="fifo_nazwa_isa_parcel_value" type="button" class="border border border-secondary" data-bs-placement="top" title="LP">
            <p_parcel_v >PAR</p_parcel_v>
            <p_parcel_v_1 >ILOŚĆ</p_parcel_v_1> 
        </button>
        <button id="fifo_nazwa_isa_mono" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Mono">
            <p_mono ">MON </p_mono>                 
        </button>
        <button id="fifo_nazwa_isa_mono_value" type="button" class="rounded-end border border border-secondary" data-bs-placement="top" title="LP">
            <p_mono_v >MON</p_mono_v>
            <p_mono_v_1 >ILOŚĆ</p_mono_v_1> 
        </button>
        
        <button id="fifo_nazwa_isa_ra" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_ra>RA </p_ra>      
        </button>
         <button id="fifo_nazwa_isa_ra_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_ra_v>RA</p_ra_v> 
            <P_ra_v_1>ILOŚĆ</P_ra_v_1>
        </button>
        <button id="fifo_nazwa_isa_rb" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive boots">
            <p_rb>RB </p_rb>       
        </button>
         <button id="fifo_nazwa_isa_rb_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_rb_v>RB</p_rb_v> 
            <P_rb_v_1>ILOŚĆ</P_rb_v_1> 
        </button>
        <button id="fifo_nazwa_isa_rh" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive hardline">
            <p_rh >RH</p_rh>      
        </button>
         <button id="fifo_nazwa_isa_rh_value" type="button" class="rounded-end border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel" style="margin-right:5px;">
            <p_rh_v>RH</p_rh_v> 
            <P_rh_v_1>ILOŚĆ</P_rh_v_1>
        </button>
        <button id="fifo_nazwa_isa_rap" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rap>RAP </p_rap>    
        </button>
        <button id="fifo_nazwa_isa_rap_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rap_v>RAP </p_rap_v>
            <p_rap_v_1>ILOŚĆ </p_rap_v_1>    
        </button>
        <button id="fifo_nazwa_isa_rbp" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive boots prep.">
            <p_rbp>RBP </p_rbp> 
        </button>
        <button id="fifo_nazwa_isa_rbp_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rbp_V>RBP </p_rbp_V> 
            <p_rbp_v_1>ILOŚĆ </p_rbp_v_1>    
        </button>
        <button id="fifo_nazwa_isa_rhp" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive hardline prep.">
            <p_rhp>RHP </p_rhp> 
        </button>
        <button id="fifo_nazwa_isa_rhp_value" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep." style="margin-right:5px;">
            <p_rhp_v>RHP </p_rhp_v> 
            <p_rhp_v_1>ILOŚĆ </p_rhp_v_1>    
        </button>
       
        <button id="fifo_nazwa_isa_ac" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_ac> AC</p_ac>     
        </button>
        <button id="fifo_nazwa_isa_ac_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_ac_v>AC </p_ac_v>   
            <p_ac_v_1>ILOŚĆ </p_ac_v_1>   
        </button>
        <button id="fifo_nazwa_isa_bc" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Boots case">
            <p_bc>BC</p_bc>    
        </button>
        <button id="fifo_nazwa_isa_bc_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_bc_v> BC</p_bc_v> 
            <p_bc_v_1>ILOŚĆ </p_bc_v_1>   
        </button>
        <button id="fifo_nazwa_isa_hc" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Hardline case">
            <p_hc>HC </p_hc>             
        </button>
        <button id="fifo_nazwa_isa_hc_value" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_hc_v>HC </p_hc_v>   
            <p_hc_v_1> ILOŚĆ</p_hc_v_1>   
        </button>  
        <div class="btn-group" style="float:left;height:32px; width:260px;margin-right:2px;margin-left:2px; margin-top:1px;"> 

              <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  MENU
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="24" fill="currentColor" class="bi bi-menu-button" viewBox="0 0 16 16">
                  <path d="M0 1.5A1.5 1.5 0 0 1 1.5 0h8A1.5 1.5 0 0 1 11 1.5v2A1.5 1.5 0 0 1 9.5 5h-8A1.5 1.5 0 0 1 0 3.5v-2zM1.5 1a.5.5 0 0 0-.5.5v2a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-8z"/>
                  <path d="m7.823 2.823-.396-.396A.25.25 0 0 1 7.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                </svg>
              </button>
              <ul class="dropdown-menu" style="height:67px;width:260px;position:relative; z-index:1000;">
                  <a asp-action="Create" class="btn btn-primary"  style="width:259px; height:33px;margin-bottom:2px;">DODAJ ISA
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
              
                </a> 
                <a asp-action="Excel" class="btn btn-success"  style="width:259px; height:33px;margin-bottom:2px;">Excel-Raport
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet" viewBox="0 0 16 16">
                      <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"/>
                    </svg>
              
                </a> 
              
                
              </ul>
            </div>
        </div>

        



        <div id="fifo_suma_podsumowanie_main" class="" style=" float:left;width:1785px;height:35px; margin-right:4px;">
            
            
            @{


                }

                @{
                    int all_values_sum = 0;
                    int sum_fba = 0;
                    int sum_fba_value = 0;
                    int sum_lp = 0;
                    int sum_lp_value = 0;
                    int sum_parcel =0;
                    int sum_parcel_value = 0;
                    int sum_mono=0;
                    int sum_mono_value = 0;
                    int sum_ra = 0;
                    int sum_ra_value = 0;
                    int sum_rb = 0;
                    int sum_rb_value = 0;
                    int sum_rh = 0;
                    int sum_rh_value = 0;
                    int sum_rap = 0;
                    int sum_rap_value = 0;
                    int sum_rbp = 0;
                    int sum_rbp_value = 0;
                    int sum_rhp = 0;
                    int sum_rhp_value = 0;
                    int sum_ac = 0;
                    int sum_ac_value = 0;
                    int sum_bc = 0;
                    int sum_bc_value = 0;
                    int sum_hc = 0;
                    int sum_hc_value = 0;





                    int zero_int = 0;
                    string ConnectionString = "server=sql11.freemysqlhosting.net; database=sql11495583; user=sql11495583; password=aCawqiN5pu;";
                    string sqlQuery = $"SELECT COUNT(ISA_units) FROM ISA_Models ";
                    MySqlConnection con = new MySqlConnection(ConnectionString);
                    MySqlCommand sc = new MySqlCommand(sqlQuery, con);
                    con.Open();
                    int table_count = int.Parse(sc.ExecuteScalar()+"");                         



                    ArrayList valuesList = new ArrayList();


                    if (table_count>=1)
                    {
                        MySqlConnection connection = new MySqlConnection("server=sql11.freemysqlhosting.net; database=sql11495583; user=sql11495583; password=aCawqiN5pu;");                       
                        string sqlQuery1= "SELECT SUM(ISA_units),SUM(ISA_fba),SUM(ISA_semitrailer),SUM(ISA_fba_sea_container),SUM(ISA_fba_standard),SUM(ISA_lp),SUM(ISA_lp_value),SUM(ISA_parcel),SUM(ISA_parcel_value),SUM(ISA_mono),SUM(ISA_mono_value),SUM(ISA_pax),SUM(ISA_pax_value),SUM(ISA_ra),SUM(ISA_ra_value),SUM(ISA_rb),SUM(ISA_rb_value),SUM(ISA_rh),SUM(ISA_rh_value),SUM(ISA_rap),SUM(ISA_rap_value),SUM(ISA_rbp),SUM(ISA_rbp_value),SUM(ISA_rhp),SUM(ISA_rhp_value),SUM(ISA_ac),SUM(ISA_ac_value),SUM(ISA_bc),SUM(ISA_bc_value),SUM(ISA_hc),SUM(ISA_hc_value)  FROM ISA_Models";
                        MySqlCommand sc1 = new MySqlCommand(sqlQuery1, con);
                        connection.Open();
                        MySqlDataReader dataReader = sc1.ExecuteReader();
                        while (dataReader.Read())
                        {
                            valuesList.Add(Convert.ToInt32(dataReader[0]));//  Unity łącznie                    
                            valuesList.Add(Convert.ToInt32(dataReader[1]));// Suma FBA
                            valuesList.Add(Convert.ToInt32(dataReader[2]));// Suma naczep
                            valuesList.Add(Convert.ToInt32(dataReader[3]));// Suma morski
                            valuesList.Add(Convert.ToInt32(dataReader[4]));// Suma FBA standard
                            valuesList.Add(Convert.ToInt32(dataReader[5]));// Suma LP
                            valuesList.Add(Convert.ToInt32(dataReader[6]));// Suma LP Ilość
                            valuesList.Add(Convert.ToInt32(dataReader[7]));// Suma Parcel
                            valuesList.Add(Convert.ToInt32(dataReader[8]));// Suma Parcel Ilość
                            valuesList.Add(Convert.ToInt32(dataReader[9]));// Suma mono
                            valuesList.Add(Convert.ToInt32(dataReader[10]));// Suma mono Ilość
                            valuesList.Add(Convert.ToInt32(dataReader[11]));// Suma pax
                            valuesList.Add(Convert.ToInt32(dataReader[12]));// Suma pax Ilość
                            valuesList.Add(Convert.ToInt32(dataReader[13]));// Suma ra
                            valuesList.Add(Convert.ToInt32(dataReader[14]));// Suma ra Ilość
                            valuesList.Add(Convert.ToInt32(dataReader[15]));// Suma rb
                            valuesList.Add(Convert.ToInt32(dataReader[16]));// Suma rb Ilość
                            valuesList.Add(Convert.ToInt32(dataReader[17]));// Suma rh
                            valuesList.Add(Convert.ToInt32(dataReader[18]));// Suma rh Ilość
                            valuesList.Add(Convert.ToInt32(dataReader[19]));// Suma rap
                            valuesList.Add(Convert.ToInt32(dataReader[20]));// suma rap ilość
                            valuesList.Add(Convert.ToInt32(dataReader[21]));// suma rbp
                            valuesList.Add(Convert.ToInt32(dataReader[22]));// suma rbp ilość
                            valuesList.Add(Convert.ToInt32(dataReader[23]));// suma rhp
                            valuesList.Add(Convert.ToInt32(dataReader[24]));// suma rhp ilość
                            valuesList.Add(Convert.ToInt32(dataReader[25]));// suma ac
                            valuesList.Add(Convert.ToInt32(dataReader[26]));// suma ac ilość
                            valuesList.Add(Convert.ToInt32(dataReader[27]));// suma bc
                            valuesList.Add(Convert.ToInt32(dataReader[28]));// suma bc ilosc
                            valuesList.Add(Convert.ToInt32(dataReader[29]));// suma hc
                            valuesList.Add(Convert.ToInt32(dataReader[30]));// suma hc ilosc

                        }
                        connection.Close();
                    }
                    if(table_count>=1){
                        all_values_sum = (int) valuesList[1] +(int) valuesList[6]+(int) valuesList[8]+(int) valuesList[10]+(int) valuesList[12]+(int) valuesList[14]+(int) valuesList[16]+(int) valuesList[18]+(int) valuesList[20]+(int) valuesList[22]+(int) valuesList[24]+(int) valuesList[26]+(int) valuesList[28]+(int) valuesList[30];
                        sum_fba = (int)valuesList[1];
                        sum_fba_value=(int)valuesList[4];                        
                     sum_lp = (int)valuesList[5]; 
                    sum_lp_value = (int)valuesList[6]; 
                    sum_parcel =(int)valuesList[7]; 
                    sum_parcel_value =(int)valuesList[8]; 
                    sum_mono=(int)valuesList[9]; 
                     sum_mono_value = (int)valuesList[10]; 
                    sum_ra = (int)valuesList[13]; 
                    sum_ra_value =(int)valuesList[14]; 
                     sum_rb =(int)valuesList[15]; 
                      sum_rb_value = (int)valuesList[16]; 
                     sum_rh = (int)valuesList[17]; 
                     sum_rh_value =(int)valuesList[18]; 
                     sum_rap = (int)valuesList[19]; 
                     sum_rap_value =(int)valuesList[20]; 
                     sum_rbp =(int)valuesList[21]; 
                     sum_rbp_value = (int)valuesList[22]; 
                     sum_rhp = (int)valuesList[23]; 
                    sum_rhp_value = (int)valuesList[24]; 
                    sum_ac = (int)valuesList[25]; 
                    sum_ac_value =(int)valuesList[26]; 
                    sum_bc = (int)valuesList[27]; 
                    sum_bc_value = (int)valuesList[28]; 
                    sum_hc = (int)valuesList[29]; 
                    sum_hc_value = (int)valuesList[30]; 
                    }
                    
                  
                    

                }
                
                    
                    <button id="total"  class="fifo_nazwa_isa_ilosc_total_suma border border border-secondary rounded" value="@all_values_sum" >
                       
                       @if (table_count >= 1)
                       {
                              
                                   <ilosc_tot_val style="font-weight:600;font-size:20px;text-align:left;"> @all_values_sum </ilosc_tot_val>                                              
                       }
                       else
                       {
                        @zero_int
                       }                                                      
                    </button>                                            
                    <button id="sum_fba1"  onclick="sum_value(this.id)" class=" fifo_tabela_isa_fba border-end-0 border border-secondary " value="@sum_fba" >                   
                            @sum_fba                                
                    </button>                    
                    <button id="sum_fba_value1" onclick="sum_value(this.id)"  class="fifo_tabela_isa_standard border-end-0 border border-secondary " value="@valuesList[1]">
                       
                   @valuesList[1]  
                   tutej
                                 
                    </button>                                       
                     <button id="sum_lp1" onclick="sum_value(this.id)"  class="fifo_tabela_isa_lp border-end-0 border border-secondary" value="@sum_lp">
                         @if (table_count >= 1)
                        {
                         @valuesList[5]                        
                        }
                       else
                       {
                        @zero_int
                       }
                         
                    </button>
                    <button id="sum_lp_value1" onclick="sum_value(this.id)"  class=" fifo_tabela_isa_lp_value border-end-0 border border-secondary" value="@sum_lp_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[6]                        
                        }
                       else
                       {
                        @zero_int
                       }                       
                    </button>                                    
                    <button id="sum_parcel1" onclick="sum_value(this.id)"  class="fifo_tabela_isa_parcel border-end-0 border border-secondary "value="@sum_parcel">
                        @if (table_count >= 1)
                        {
                         @valuesList[7]                        
                        }
                       else
                       {
                        @zero_int
                       }              
                      
                    </button>
                    <button id="sum_parcel_value" onclick="sum_value(this.id)"  class="fifo_tabela_isa_parcel_value border-end-0 border border-secondary "value="@sum_parcel_value">
                      @if (table_count >= 1)
                        {
                         @valuesList[8]                        
                        }
                       else
                       {
                        @zero_int
                       }             
                      
                    </button>                                 
                   <button  id="sum_mono" onclick="sum_value(this.id)"  class="fifo_tabela_isa_mono border-end-0 border border-secondary "value="@sum_mono">
                      @if (table_count >= 1)
                        {
                         @valuesList[9]                        
                        }
                       else
                       {
                        @zero_int
                       }               
                    </button>
                    <button id="sum_mono_value" onclick="sum_value(this.id)" class="fifo_tabela_isa_mono_value border-end-0 border border-secondary "value="@sum_mono_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[10]                        
                        }
                       else
                       {
                        @zero_int
                       }                                   
                    </button>
                    <button id="sum_ra"  onclick="sum_value(this.id)"  class=" fifo_tabela_isa_ra border-end-0 border border-secondary "value="@sum_ra">
                      @if (table_count >= 1)
                        {
                         @valuesList[13]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </button> 
                    <button id="sum_ra_value"  onclick="sum_value(this.id)"  class="fifo_tabela_isa_ra_value border-end-0 border border-secondary "value="@sum_ra_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[14]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </button> 
                     <button id="sum_rb" onclick="sum_value(this.id)"  class=" fifo_tabela_isa_rb border-end-0 border border-secondary "value="@sum_rb">
                        @if (table_count >= 1)
                        {
                         @valuesList[15]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </button>
                    <button id="sum_rb_value" onclick="sum_value(this.id)"  class=" fifo_tabela_isa_rb_value border-end-0 border border-secondary "value="@sum_rb_value">
                       @if (table_count >= 1)
                        {
                         @valuesList[16]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </button> 
                    <button id="sum_rh" onclick="sum_value(this.id)" class="fifo_tabela_isa_rh border-end-0 border border-secondary "value="@sum_rh">
                        @if (table_count >= 1)
                        {
                         @valuesList[17]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </button>
                    <button id="sum_rh_value"  onclick="sum_value(this.id)"  class=" fifo_tabela_isa_rh_value border-end-0 border border-secondary "value="@sum_rh_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[18]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                    </button>        
                    <button id="sum_rap" onclick="sum_value(this.id)"  class=" fifo_tabela_isa_rap border-end-0 border border-secondary"value="@sum_rap">
                        @if (table_count >= 1)
                        {
                         @valuesList[19]                        
                        }
                       else
                       {
                        @zero_int
                       }                                 
                    </button>
                    <button id="sum_rap_value"  onclick="sum_value(this.id)" class=" fifo_tabela_isa_rap_value border-end-0 border border-secondary "value="@sum_rap_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[20]                        
                        }
                       else
                       {
                        @zero_int
                       }                               
                    </button>  
                   <button id="sum_rbp" onclick="sum_value(this.id)"  class=" fifo_tabela_isa_rbp border-end-0 border border-secondary "value="@sum_rbp">
                        @if (table_count >= 1)
                        {
                         @valuesList[21]                        
                        }
                       else
                       {
                        @zero_int
                       }                                  
                    </button> 
                    <button id="sum_rbp_value" onclick="sum_value(this.id)"  class=" fifo_tabela_isa_rbp_value border-end-0 border border-secondary "value="@sum_rbp_value">
                         @if (table_count >= 1)
                        {
                         @valuesList[22]                        
                        }
                       else
                       {
                        @zero_int
                       }                                 
                    </button>  
                    <button id="sum_rhp" onclick="sum_value(this.id)"   class=" fifo_tabela_isa_rhp border-end-0 border border-secondary "value="@sum_rhp">
                        @if (table_count >= 1)
                        {
                         @valuesList[23]                        
                        }
                       else
                       {
                        @zero_int
                       }                                   
                    </button> 
                    <button id="sum_rhp_value" onclick="sum_value(this.id)"  class="fifo_tabela_isa_rhp_value  border-end-0 border border-secondary"value="@sum_rhp_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[24]                        
                        }
                       else
                       {
                        @zero_int
                       }                                  
                    </button>                   
                    <button id="sum_ac" onclick="sum_value(this.id)"  class=" fifo_tabela_isa_ac border-end-0 border border-secondary "value="@sum_ac">
                        @if (table_count >= 1)
                        {
                         @valuesList[25]                        
                        }
                       else
                       {
                        @zero_int
                       }                                 
                    </button> 
                    <button id="sum_ac_value" onclick="sum_value(this.id)"  class="fifo_tabela_isa_ac_value border-end-0 border border-secondary "value="@sum_ac_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[26]                        
                        }
                       else
                       {
                        @zero_int
                       }                                
                    </button>
                    <button id="sum_bc" onclick="sum_value(this.id)"  class="fifo_tabela_isa_bc border-end-0 border border-secondary "value="@sum_bc">
                        @if (table_count >= 1)
                        {
                         @valuesList[27]                        
                        }
                       else
                       {
                        @zero_int
                       }           
                        
                    </button>
                    <button id="sum_bc_value" onclick="sum_value(this.id)"  class="fifo_tabela_isa_bc_value border-end-0 border border-secondary "value="@sum_bc_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[28]                        
                        }
                       else
                       {
                        @zero_int
                       }                            
                   </button>
                    <button id="sum_hc" onclick="sum_value(this.id)"  class=" fifo_tabela_isa_hc border-end-0 border border-secondary "value="@sum_hc">
                        @if (table_count >= 1)
                        {
                         @valuesList[29]                        
                        }
                       else
                       {
                        @zero_int
                       }                                 
                    </button>
                    <button id="sum_hc_value" onclick="sum_value(this.id)" class="fifo_tabela_isa_hc_value border-end-0 border border-secondary "value="@sum_hc_value">
                        @if (table_count >= 1)
                        {
                         @valuesList[30]                        
                        }
                       else
                       {
                        @zero_int
                       }                              
                    </button>
                    <div id="fifo_tabela_last_update" class="border order border-secondary rounded" style="background-color:gray;width:260px;height:34px; float:left;margin-left:2px; margin-top:1px;">
                        <p_last_update style="font-weight:900;font-size:13px;position:relative;top:-6px; color:white;">OSTATNIA AKTUALIZACJA</p_last_update><br />
                          
                        @if (table_count >= 1)
                        {
                          MySqlConnection con_update = new MySqlConnection(ConnectionString);
                        string update_question = $"SELECT ISA_last_update FROM ISA_Models ORDER BY ISA_last_update DESC";

                         MySqlCommand  update_answer = new MySqlCommand(update_question, con_update);
                            con_update.Open();
                            DateTime last_update = (DateTime)update_answer.ExecuteScalar();      
                          <p_last_update style="font-weight:700;font-size:13px;position:relative;top:-14px; color:white;">@last_update</p_last_update>  
                        }
                       else
                       {
                        
                       }         
                    </div>                              
            </div>
         </div>
        </div>
         <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
         <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
         <!----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
        <div id="fifo_main_name_space_bar" class="border border border-secondary rounded" style="width:1645px; height:2px; margin-bottom:10px;margin-top:10px;"></div>
       <div id="fifo_main_nazwy" class="border-1 rounded sticky-topz-index:-1000;" >

      
        <button id="fifo_nazwa_isa_numer" type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="ISA numer" >
           @Html.DisplayNameFor(model => model.ISA_number)     
           
        </button>
        
        <button id="fifo_nazwa_isa_data" type="button" class="border border border-secondary rounded" data-bs-toggle="tooltip" data-bs-placement="top" title="Data: Dzień.Miesiąc.Rok Godzina:Minuta:Sekunda">
            @Html.DisplayNameFor(model => model.ISA_date_time)     
        </button>
        <button id="fifo_nazwa_isa_line" type="button" class="rounded-start border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title=" Miejsce składowania towaru">
            @Html.DisplayNameFor(model => model.ISA_line)     
        </button>         
        
         <button id="fifo_nazwa_isa_ilosc" type="button" class="rounded-end border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Jest to łączna ilość wszystkich [szt], które są przypisane do danego numeru ISA. Składowe na łączną ilość to Ilość,Parcel-ilośc,Lp-Ilość,PAX-Ilość,Mono-Ilość,Ra/Rb/Rh-Ilość, Rap/Rbp/Rhp-Ilość oraz Ac/Bc/Hc-Ilość">
            @Html.DisplayNameFor(model => model.ISA_units)         
        </button>

        
        <!--FBA-START-->
        <button id="fifo_nazwa_isa_fba" type="button" class="rounded-start border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Ilość sztuk w Kontener/Kontener morski/Naczepa">
           <p_fba>FBA</p_fba> 
           <p_fba_1>ILOŚĆ</p_fba_1>  
        </button>                         
        <button id="fifo_nazwa_isa_standard" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Kontener/Kontener morski/Naczepa">
            <p_fba_s >FBA</p_fba_s>
            <p_fba_s_1 ">S</p_fba_s_1> 
                    
        </button>
        
        <!--FBA-KONIEC-->

        <!--LP/PARCEL-START-->
        
        <button id="fifo_nazwa_isa_lp" type="button" class="rounded-start border border border-secondary " data-bs-placement="top" title="Licence plate- ilość palet">
            <p_lp >LP</p_lp>       
        </button>
        <button id="fifo_nazwa_isa_lp_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Licence plate- ilość sztuk">
            <p_lp_v>LP</p_lp_v>
            <p_lp_v_1 >ILOŚĆ</p_lp_v_1>  
        </button>       
        <button id="fifo_nazwa_isa_parcel" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Parcel - ilość palet">
            <p_parcel>PAR</p_parcel>                 
        </button>
         <button id="fifo_nazwa_isa_parcel_value" type="button" class="border border border-secondary " data-bs-placement="top" title="Parcel- ilość sztuk">
            <p_parcel_v >PAR</p_parcel_v>
            <p_parcel_v_1 >ILOŚĆ</p_parcel_v_1> 
        </button>
         <!--LP/PARCEL-KONIEC-->

         <!--PAX/MONO-START-->
        <button id="fifo_nazwa_isa_mono" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Monoasin - ilość palet">
            <p_mono ">MON </p_mono>                 
        </button>
        <button id="fifo_nazwa_isa_mono_value" type="button" class="rounded-end border border border-secondary " data-bs-placement="top" title="Monoasin- ilość sztuk">
            <p_mono_v >MON</p_mono_v>
            <p_mono_v_1 >ILOŚĆ</p_mono_v_1> 
        </button>       
        <!--PAX/MONO-KONIEC-->
        <!--RA/RB/RH-START-->
        <button id="fifo_nazwa_isa_ra" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_ra>RA </p_ra>      
        </button>
         <button id="fifo_nazwa_isa_ra_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_ra_v>RA</p_ra_v> 
            <P_ra_v_1>ILOŚĆ</P_ra_v_1>
        </button>
        <button id="fifo_nazwa_isa_rb" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive boots">
            <p_rb>RB </p_rb>       
        </button>
         <button id="fifo_nazwa_isa_rb_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_rb_v>RB</p_rb_v> 
            <P_rb_v_1>ILOŚĆ</P_rb_v_1> 
        </button>
        <button id="fifo_nazwa_isa_rh" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive hardline">
            <p_rh >RH</p_rh>      
        </button>
         <button id="fifo_nazwa_isa_rh_value" type="button" class="rounded-end border border border-secondary " data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel">
            <p_rh_v>RH</p_rh_v> 
            <P_rh_v_1>ILOŚĆ</P_rh_v_1>
        </button>
        <!--RA/RB/RH-KONIEC-->

        <!--RAp/RBp/RHp-START-->
        <button id="fifo_nazwa_isa_rap" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rap>RAP </p_rap>    
        </button>
        <button id="fifo_nazwa_isa_rap_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rap_v>RAP </p_rap_v>
            <p_rap_v_1>ILOŚĆ </p_rap_v_1>    
        </button>
        <button id="fifo_nazwa_isa_rbp" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive boots prep.">
            <p_rbp>RBP </p_rbp> 
        </button>
        <button id="fifo_nazwa_isa_rbp_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rbp_V>RBP </p_rbp_V> 
            <p_rbp_v_1>ILOŚĆ </p_rbp_v_1>    
        </button>
        <button id="fifo_nazwa_isa_rhp" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive hardline prep.">
            <p_rhp>RHP </p_rhp> 
        </button>
        <button id="fifo_nazwa_isa_rhp_value" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Recive apparel prep.">
            <p_rhp_v>RHP </p_rhp_v> 
            <p_rhp_v_1>ILOŚĆ </p_rhp_v_1>    
        </button>
        





        <!--AC/RBp/BC/HC-START-->
        <button id="fifo_nazwa_isa_ac" type="button" class="rounded-start border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_ac> AC</p_ac>     
        </button>
        <button id="fifo_nazwa_isa_ac_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_ac_v>AC </p_ac_v>   
            <p_ac_v_1>ILOŚĆ </p_ac_v_1>   
        </button>
        <button id="fifo_nazwa_isa_bc" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Boots case">
            <p_bc>BC</p_bc>    
        </button>
        <button id="fifo_nazwa_isa_bc_value" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_bc_v> BC</p_bc_v> 
            <p_bc_v_1>ILOŚĆ </p_bc_v_1>   
        </button>
        <button id="fifo_nazwa_isa_hc" type="button" class="border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Hardline case">
            <p_hc>HC </p_hc>             
        </button>
        <button id="fifo_nazwa_isa_hc_value" type="button" class="rounded-end border border border-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Apparel case">
            <p_hc_v>HC </p_hc_v>   
            <p_hc_v_1> ILOŚĆ</p_hc_v_1>   
        </button>
       
        
        <div   class="fifo_tabela_isa_komentarz border border border-secondary rounded">
            <p_comment style="color: black;font-size: 12px;font-weight: bolder;position:relative;left:75px; bottom:-5px;">@Html.DisplayNameFor(model => model.ISA_comment)</p_comment>               
        </div> 
        <div id="" class="fifo_tabela_opcje border border border-secondary rounded">
          <p_opcje style="color: black;font-size: 12px;font-weight: 700;position:relative;left:2px; bottom:-8px;">OPCJE</p_opcje>
        </div>      
      </div>
      
    <tbody>
  
@foreach (var item in Model.OrderBy(i=> i.ISA_date_time)) 
{
      <table id="tblMain">
         
        <div style="width:1648px; height:36px; margin-bottom:2px;" class="box">
     <button id="@item.ISA_id+fifo_isa" class="fifo_tabela_isa_numer border-end-0 border border-secondary rounded-start" name="@item.ISA_id"  >
         <a href="https://fc-inbound-dock-hub-eu.aka.amazon.com/en_US/#/dockmaster/appointment/ktw1/view/@item.ISA_number/appointmentDetail" target="_blank" >@Html.DisplayFor(modelItem => item.ISA_number)</a>
      
      </button>
      <div id="@item.ISA_id+fifo_data" class=" test fifo_tabela_isa_data border-end-0 border border-secondary" name="@item.ISA_id" >
          @Html.DisplayFor(modelItem => item.ISA_date_time)
      </div> 
      <div id="@item.ISA_id+fifo_line" class="fifo_tabela_isa_line border-end-0 border border-secondary " >
          @Html.DisplayFor(modelItem => item.ISA_line)
      </div> 
      <button onclick="sum_value(this.id)"   id="@item.ISA_id+fifo_value" class="fifo_tabela_isa_ilosc border-end-0 border border-secondary klik " value="@((item.ISA_fba)+(item.ISA_units) + (item.ISA_lp_value)+(item.ISA_parcel_value)+(item.ISA_mono_value)+(item.ISA_pax_value)+(item.ISA_ra_value)+(item.ISA_rb_value)+(item.ISA_rh_value)+(item.ISA_rap_value)+(item.ISA_rbp_value)+(item.ISA_rhp_value)+(item.ISA_ac_value)+(item.ISA_bc_value)+(item.ISA_hc_value))">
                            @{                             
                               int value_lacznie =((item.ISA_fba)+(item.ISA_units) + (item.ISA_lp_value)+(item.ISA_parcel_value)+(item.ISA_mono_value)+(item.ISA_pax_value)+(item.ISA_ra_value)+(item.ISA_rb_value)+(item.ISA_rh_value)+(item.ISA_rap_value)+(item.ISA_rbp_value)+(item.ISA_rhp_value)+(item.ISA_ac_value)+(item.ISA_bc_value)+(item.ISA_hc_value));    
                               
                            }
                       
                            @value_lacznie
                        
      </button>                    
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_fba" class=" sumbtn fifo_tabela_isa_fba border-end-0 border border-secondary klik" value="@item.ISA_fba">                           
                             @item.ISA_fba
                             
      </button>      
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_s" class="fifo_tabela_isa_standard border-end-0 border border-secondary "value="@item.ISA_fba_standard">
                        @Html.DisplayFor(modelItem => item.ISA_fba_standard)
      </button>                                         
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_lp" class="fifo_tabela_isa_lp border-end-0 border border-secondary" value="@item.ISA_lp">
                         @Html.DisplayFor(modelItem => item.ISA_lp) 
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_lp_v" class="fifo_tabela_isa_lp_value border-end-0 border border-secondary"value="@item.ISA_lp_value">
                         @Html.DisplayFor(modelItem => item.ISA_lp_value) 
      </button>                                    
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_pracel" class="fifo_tabela_isa_parcel border-end-0 border border-secondary " value="@item.ISA_parcel">
                        @Html.DisplayFor(modelItem => item.ISA_parcel)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_parcel_v" class="fifo_tabela_isa_parcel_value border-end-0 border border-secondary "value="@item.ISA_parcel_value">
                        @Html.DisplayFor(modelItem => item.ISA_parcel_value)
      </button>                                      
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_mono" class="fifo_tabela_isa_mono border-end-0 border border-secondary "value="@item.ISA_mono">
                        @Html.DisplayFor(modelItem => item.ISA_mono)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_mono_v" class="fifo_tabela_isa_mono_value border-end-0 border border-secondary "value="@item.ISA_mono_value">
                        @Html.DisplayFor(modelItem => item.ISA_mono_value)
      </button>
                 
      <button onclick="sum_value(this.id)"  id="@item.ISA_id+fifo_ra" class="fifo_tabela_isa_ra border-end-0 border border-secondary "value="@item.ISA_ra">
                        @Html.DisplayFor(modelItem => item.ISA_ra)
      </button> 
      <button onclick="sum_value(this.id)"  id="@item.ISA_id+fifo_ra_v" class="fifo_tabela_isa_ra_value border-end-0 border border-secondary "value="@item.ISA_ra_value">
                        @Html.DisplayFor(modelItem => item.ISA_ra_value)
      </button> 
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rb" class="fifo_tabela_isa_rb border-end-0 border border-secondary "value="@item.ISA_rb">
                        @Html.DisplayFor(modelItem => item.ISA_rb)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rb_v" class="fifo_tabela_isa_rb_value border-end-0 border border-secondary "value="@item.ISA_rb_value">
                        @Html.DisplayFor(modelItem => item.ISA_rb_value)
      </button> 
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rh" class="fifo_tabela_isa_rh border-end-0 border border-secondary "value="@item.ISA_rh">
                        @Html.DisplayFor(modelItem => item.ISA_rh)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rh_v" class="fifo_tabela_isa_rh_value border-end-0 border border-secondary "value="@item.ISA_rh_value">
                        @Html.DisplayFor(modelItem => item.ISA_rh_value)
      </button> 
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rap" class="fifo_tabela_isa_rap border-end-0 border border-secondary"value="@item.ISA_rap">
                        @Html.DisplayFor(modelItem => item.ISA_rap)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rap_v" class="fifo_tabela_isa_rap_value border-end-0 border border-secondary "value="@item.ISA_rap_value">
                        @Html.DisplayFor(modelItem => item.ISA_rap_value)
      </button>  
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rbp" class="fifo_tabela_isa_rbp border-end-0 border border-secondary "value="@item.ISA_rbp">
                        @Html.DisplayFor(modelItem => item.ISA_rbp)
      </button> 
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rbp_v" class="fifo_tabela_isa_rbp_value border-end-0 border border-secondary "value="@item.ISA_rbp_value">
                        @Html.DisplayFor(modelItem => item.ISA_rbp_value)
      </button>  
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rhp" class="fifo_tabela_isa_rhp border-end-0 border border-secondary "value="@item.ISA_rhp">
                        @Html.DisplayFor(modelItem => item.ISA_rhp)                       
      </button> 
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_rhp_v" class="fifo_tabela_isa_rhp_value border-end-0 border border-secondary" value="@item.ISA_rhp_value">
                        @Html.DisplayFor(modelItem => item.ISA_rhp_value)
      </button>                   
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_ac" class="fifo_tabela_isa_ac border-end-0 border border-secondary " value="@item.ISA_ac">
                        @Html.DisplayFor(modelItem => item.ISA_ac)
      </button> 
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_ac_v" class="fifo_tabela_isa_ac_value border-end-0 border border-secondary " value="@item.ISA_ac_value">
                        @Html.DisplayFor(modelItem => item.ISA_ac_value)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_bc" class="fifo_tabela_isa_bc border-end-0 border border-secondary " value="@item.ISA_bc">
                        @Html.DisplayFor(modelItem => item.ISA_bc)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_bc_v" class="fifo_tabela_isa_bc_value border-end-0 border border-secondary "value="@item.ISA_bc_value">
                        @Html.DisplayFor(modelItem => item.ISA_bc_value)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_hc" class="fifo_tabela_isa_hc border-end-0 border border-secondary "value="@item.ISA_hc">
                        @Html.DisplayFor(modelItem => item.ISA_hc)
      </button>
      <button onclick="sum_value(this.id)" id="@item.ISA_id+fifo_hc_v" class="fifo_tabela_isa_hc_value border-end-0 border border-secondary "value="@item.ISA_hc_value">
                        @Html.DisplayFor(modelItem => item.ISA_hc_value)
      </button>                   
      <div id="@item.ISA_id+fifo_comment" class="fifo_tabela_isa_komentarz border-end-0 border border-secondary " >
                        @Html.DisplayFor(modelItem => item.ISA_comment)
      </div>
      
     
                    <div class="btn-group dropend" style="color:red;">
                      <button  type="button" class="fifo_tabela_opcje btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" >
                          
                                                            
                      </button>
                      <ul class="white_link dropdown-menu border-end-0 border border-secondary" style="width:300px;height:35px; background-color:#ff9933;">
                          <a asp-action="Edit" class="btn btn-primary"  asp-route-id="@item.ISA_id" style="position:relative; bottom:8px;height:34px; " ><p1 style="font-size:11px;">Edytuj</p1>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                            
                            </a>                          
                    
                        <a asp-action="Delete" asp-route-id="@item.ISA_id" class="btn btn-danger"style="position:relative; bottom:8px;left:-3px; height:34px;"><p1 style="font-size:11px;">Usuń</p1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                           
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ISA_id" class="btn btn-info"style="position:relative; bottom:8px;left:-3px; height:34px; "><p1 style="font-size:11px;">Szczegóły</p1>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                            </svg>
                          
                        </a> 
                        
                     </div>

 
          
</div>


</table>


     //Skrypt zmiana barwy , jeśli do sprawdzenia 
     if(item.ISA_to_chceck ==true)
      {
        <script type="text/javascript">
                    document.getElementById("@item.ISA_id+fifo_isa").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_data").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_line").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_value").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_fba").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_fba").style.backgroundColor = "lightgray";                   
                    document.getElementById("@item.ISA_id+fifo_s").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_lp").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_lp_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_pracel").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_parcel_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_mono").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_mono_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_ra").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_ra_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rb").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rb_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rh").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rh_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rap").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rap_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rbp").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rbp_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rhp").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_rhp_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_ac").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_ac_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_bc").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_bc_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_hc").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_hc_v").style.backgroundColor = "lightgray";
                    document.getElementById("@item.ISA_id+fifo_comment").style.backgroundColor = "lightgray";              
                        </script>
                    }             

                    //Skrypt zmiana barwy , jesli towar się "pali" 
                    DateTime data_isa = item.ISA_date_time;
                    DateTime data_teraz = DateTime.Now;
                    TimeSpan interval = data_teraz - data_isa;
                    double minut = -1*interval.TotalMinutes;
                   

                if(interval.TotalMinutes>=-60&&interval.TotalMinutes<=-1)
                {
                 <script type="text/javascript">
                    document.getElementById("@item.ISA_id+fifo_isa").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_data").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_line").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_value").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_fba").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_fba").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_s").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_lp").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_lp_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_pracel").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_parcel_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_mono").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_mono_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_ra").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_ra_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rb").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rb_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rh").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rh_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rap").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rap_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rbp").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rbp_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rhp").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_rhp_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_ac").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_ac_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_bc").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_bc_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_hc").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_hc_v").style.backgroundColor = "red";
                    document.getElementById("@item.ISA_id+fifo_comment").style.backgroundColor = "red";                              

                   document.getElementById("fifo_tabela_alert").style.backgroundColor = "Red";
                    document.getElementById("fifo_tabela_alert").innerHTML = "ISA:@item.ISA_number Pozostało: @Math.Round(minut, 0); Minut.";
                    document.getElementById("fifo_alert").document.class.innerHTML = "alert alert-danger";
                    
                    
                      </script>
                      
                      
    /*Alert*/                  
   <div class="alert alert-danger alert-dismissible fade show" role="alert"style="position:fixed; top:0px;left:750px; width:450px; height:100px;">
  <strong>UWAGA!</strong>  Kończy się czas przyjęćia towaru <br>ISA:[@item.ISA_number]<br> Linia:[@item.ISA_line]
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
                     
                     

                 
                }








                       
} 

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>







